{% extends 'SibirCtfBundle:17:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Наша
                    <strong>Команда</strong>
                </h2>
                <hr>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img//teams/alex.jpg') }}" alt=""></div>
                <h4>Алексей Гуляев
                    <small>Директор соревнований</small>
                </h4>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/dima.jpg') }}" alt=""> </div>
                <h4>Дмитрий Муковкин
                    <small>Директор соревнований</small>
                </h4>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/sonya.jpg') }}" alt=""> </div>
                <h4>София Безукладникова
                    <small>Разработчик игрофикации</small>
                </h4>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/liza.png') }}" alt=""></div>
                <h4>Маргарита Миланкович
                    <small>Разработчик инфраструктуры</small>
                </h4>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/gomer.png') }}" alt=""></div>
                <h4>Дмитрий Никифоров
                    <small>Администратор игрового образа</small>
                </h4>
            </div>
            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/evgen.jpg') }}" alt=""></div>
                <h4>Евгений Сопов <br />
                    <small>Автор стенда</small>
                </h4>
            </div>

            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/igor.jpg') }}" alt=""></div>
                <h4>Игорь Поляков
                    <small>Разработчик сервиса</small>
                </h4>
            </div>

            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/sam.jpg') }}" alt=""></div>
                <h4>Sam Sheffres<br />
                    <small>Разработчик сервиса</small>
                </h4>
            </div>

            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" style="margin-top: 0    px;" src="{{ asset('img/teams/ilya.jpg') }}" alt=""></div>
                <h4>Илья Крист
                    <small>Координатор волонтеров</small>
                </h4>
            </div>

            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/ruslan.jpg') }}" alt=""></div>
                <h4>Руслан Попадинец<br/>
                    <small>Разработчик секретного мероприятия</small>
                </h4>
            </div>

            {#<div class="devteam col-sm-4">#}
                {#<div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/serg2.jpg') }}" alt=""></div>#}
                {#<h4>Сергей Шиляев <br />#}
                    {#<small>Разработчик сайта</small>#}
                {#</h4>#}
            {#</div>#}


            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" src="{{ asset('img/teams/sasha_brovkina.jpg') }}" alt=""></div>
                <h4>Александра Бровкина<br/>
                    <small>Дизайнер</small>
                </h4>
            </div>


            <div class="devteam col-sm-4">
                <div class="devteam__image"><img class="img-responsive" style="margin-top: 0    px;" src="{{ asset('img/teams/ilona.jpg') }}" alt=""></div>
                <h4>Илона Сагалакова
                    <small>Помощник директора соревнований</small>
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}