{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Организаторы </h2>
                <hr>
            </div>

            <a target="_blank" href="http://aciso.ru/">
                <div class="col-sm-6 b-sponsor">
                    <div class="col-sm-5 col-sm-offset-6">
                        <img class="img-responsive" style="margin-top: 30px" src="http://a2013arsib.nichost.ru/upload/medialibrary/d7e/logo_ARSIB!.jpg" alt=""></div>
                </div>
            </a>

            <a target="_blank" href="http://sk.ru/">
                <div class="col-sm-6 b-sponsor">
                    <div class="col-sm-6 col-sm-offset-2 b-sponsor__logo"><img class="img-responsive" src="{{ asset('img/partners/sk.png') }}" alt=""></div>
                </div>
            </a>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Партнеры</h2>
                <hr>
            </div>

            <a target="_blank" href="https://infotecs.ru/">
                <div class="col-sm-4 col-sm-offset-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/infotecs.jpg') }}" style="margin: 0 auto; width:300px; margin-top: 20px;" alt="">
                    </div>
                </div>
            </a>


            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Технологические партнеры</h2>
                <hr>
            </div>

            <a target="_blank" href="https://www.zelax.ru/">
            <div class="col-sm-4 b-sponsor">
                <div class="col-sm-12  b-sponsor__logo text-center">
                    <img class="img-responsive" src="{{ asset('img/partners/Zelax1.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                </div>
            </div>
            </a>

            <a target="_blank" href="https://www.cisco.com/c/ru_ru/index.html">
            <div class="col-sm-4 b-sponsor">
                <div class="col-sm-12 b-sponsor__logo text-center">
                    <img class="img-responsive" src="{{ asset('img/partners/cisco.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                </div>
            </div>
            </a>

            <a target="_blank" href="https://servicepipe.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/servicepipe.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://temocenter.ru/">
                <div class="col-sm-4 col-sm-offset-2 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/temo_center.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://www.aq.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/aquarius.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 60px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Облачные партнеры</h2>
                <hr>
            </div>

            <a target="_blank" href="https://www.croc.ru/">
                <div class="col-sm-6 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/croc.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://www.it-grad.ru/">
                <div class="col-sm-6 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/it-grad.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>
            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Спонсоры призового фонда</h2>
                <hr>
            </div>

            <a target="_blank" href="https://rt.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/rt.png') }}" style="margin: 0 auto; margin-top: -30px; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://www.securitycode.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/security_code_logo.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://www.zelax.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/Zelax1.png') }}" style="margin: 0 auto; margin-top: -50px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <a target="_blank" href="https://www.3dquality.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="https://www.3dquality.ru/userfiles/image/7.png" style="margin: 0 auto; margin-top: 0px;" width="150" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://1c.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/1c.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 0px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://www.ptsecurity.com/ru-ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/pt.jpg') }}" style="margin: 0 auto; max-width:150px; margin-top: -10px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <a target="_blank" href="https://www.kaspersky.ru/">
                <div class="col-sm-offset-2 col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/kaspersky_logo.png') }}" style="margin: 0 auto; max-width:250px; margin-top: 40px;" alt="">
                    </div>
                </div>
            </a>


            <a target="_blank" href="http://www.aq.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/aquarius.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 40px;" alt="">
                    </div>
                </div>
            </a>


            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Транспортный партнер</h2>
                <hr>
            </div>

            <div class="clearfix"></div>

            <a target="_blank" href="http://mosobr.tv/">
                <div class="col-sm-4 col-sm-offset-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/borey.png') }}" style="margin: 0 auto; max-width:300px;" alt="">
                    </div>
                </div>
            </a>


            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Генеральный информационный партнер</h2>
                <hr>
            </div>

            <a target="_blank" href="http://mosobr.tv/">
                <div class="col-sm-4 col-sm-offset-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mosobrtv.png') }}" style="margin: 0 auto; max-width:300px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Официальное издание</h2>
                <hr>
            </div>

            <a target="_blank" href="https://ctfnews.ru/">
                <div class="col-sm-4 col-sm-offset-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/ctfnews.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Медиапартнер</h2>
                <hr>
            </div>

            <a target="_blank" href="http://remagic.studio/">
                <div class="col-sm-4 col-sm-offset-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/remagic_studio.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">При поддержке</h2>
                <hr>
            </div>

            <a target="_blank" href="http://mos.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mos.jpg') }}" style="margin: 0 auto; margin-top: -20px; max-width:150px;" alt="">
                    </div>
                </div>
            </a>


            <a target="_blank" href="http://mosreg.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mosobl.png') }}" style="margin: 0 auto; margin-top: -20px; max-width:120px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://www.mtuci.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mtusi.jpg') }}" style="margin: 0 auto; margin-top: -15px; max-width:150px;" alt="">
                    </div>
                </div>
            </a>

            <div class="clearfix"></div>

            <a target="_blank" href="http://kst.mskobr.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/kst.jpg') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>


            <a target="_blank" href="http://snt.mos.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/snt.png') }}" style="margin: 0 auto; margin-top: 20px; max-width:250px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://www.ita.org.ru/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12  b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mas_logo.png') }}" style="margin: 0 auto; margin-top: 20px; max-width:250px;" alt="">
                    </div>
                </div>
            </a>


            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Информационные партнеры</h2>
                <hr>
            </div>

            <a target="_blank" href="http://xakep.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/xakep.jpg') }}" style="margin: 0 auto; max-width:200px; margin-top: 50px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://apptractor.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/apptractor.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 40px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://samag.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/samag.jpg') }}" style="margin: 0 auto; max-width:200px; margin-top: 30px;" alt="">
                    </div>
                </div>
            </a>
            <a target="_blank" href="http://sibirctf.org">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/sibirctf.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 30px;" alt="">
                    </div>
                </div>
            </a>
            <div class="clearfix"></div>
            <a target="_blank" href="http://bit.samag.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/bit.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 10px;" alt="">
                    </div>
                </div>
            </a>
            <a target="_blank" href="http://www.probusinesstv.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/probusiness.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 30px;" alt="">
                    </div>
                </div>
            </a>
            <a target="_blank" href="http://ict-online.ru">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/ict_online.gif') }}" style="margin: 0 auto; max-width:200px; margin-top: 40px;" alt="">
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://ict2go.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/ict2go.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 40px;" alt="">
                    </div>
                </div>
            </a>
            <div class="clearfix"></div>
            <a target="_blank" href="http://mctf.aciso.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/mctf.png') }}" style="margin: 0 auto; max-width:200px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://altayctf.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/altayctf.png') }}" style="margin: 0 auto; max-width:200px; margin-top: -30px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="http://www.blockchainhack.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/bh.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 0px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://juniors.ctf.org.ru/">
                <div class="col-sm-3 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/junior_ctf.png') }}" style="margin: 0 auto; max-width:200px; margin-top: 30px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://12news.ru/doc16112.html">
                <div class="col-sm-4 col-sm-offset-2 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/12news.gif') }}" style="margin: 0 auto; max-width:200px; margin-top: 0px;" alt="">
                    </div>
                </div>
            </a>

            <a target="_blank" href="https://forum.reverse4you.org/">
                <div class="col-sm-4 b-sponsor">
                    <div class="col-sm-12 b-sponsor__logo text-center">
                        <img class="img-responsive" src="{{ asset('img/partners/rocrew.jpg') }}" style="margin: 0 auto; max-width:200px; margin-top: -40px;" alt="">
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
{% endblock %}