{% extends 'SibirCtfBundle:admin:base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in news %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.date|date("m/d/Y") }}</td>
                    <td>
                        <a href="{{ path('admin-news-edit', { 'news': item.id }) }}"><button type="button" class="btn btn-info">Редактировать</button></a>
                        <a href="{{ path('admin-news-delete', { 'news': item.id }) }}"><button type="button" class="btn btn-danger">Удалить</button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <footer>
            <p>&copy; Company 2017</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}