{% extends 'SibirCtfBundle:admin:base.html.twig' %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="https://imperavi.com/assets/redactor/redactor.css?r" />
    <script type="text/javascript" src="https://imperavi.com/assets/redactor/redactor.js?r"></script>
    <script type="text/javascript">
        $(function()
        {
            $('#news_full_text').redactor({
                plugins: ['fontsize']
            });
        });
    </script>
    <div class="container">
        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.short_text) }}
        {{ form_row(form.full_text) }}
        <button type="submit" class="btn btn-default ">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Сохранить новость
        </button>
        {{ form_end(form) }}

        <footer>
            <p>&copy; Company 2017</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}