{% extends 'SibirCtfBundle:admin:base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Команды на рассмотрении</h1>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>Название команды</th>
            <th>Город</th>
            <th>Универ</th>
            <th>Телефон</th>
            <th>Основная почта</th>
            <th>Конференция?</th>
            <th>Кнопка</th>
        </tr>
        </thead>
        <tbody>
        {% for team in pending %}
        <tr>
            <th>{{ team.title }}</th>
            <td>{{ team.city }}</td>
            <td>{{ team.school }}</td>
            <td>{{ team.phone }}</td>
            <td>{{ team.email }}</td>
            <td>{{ team.conference }}</td>
            <td>
                <button type="button" data-id="{{ team.id }}" class="accept-dialog btn btn-success">Одобрить</button>
                <button type="button" data-id="{{ team.id }}" class="reject more-info btn btn-danger">Отклонить</button>
                <a href="{{ path('admin-team-delete', {'team': team.id }) }}">
                    <button type="button" class="btn btn-info">Удалить</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>Список участников</td>
            <td colspan="6">
                <ul>
                    {% for member in team.members %}
                        <li>{{ member.fio }} {% if member.captain %}(капитан){% endif %}. Почтовый адрес - {{ member.mail }}. Размер футболки - {{ member.size }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal" id="accept-team-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтверждение участия</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что команда со следующими данными поедет на соревнования?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <button type="button" class="accept btn btn-primary">Да</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.more-info').click(function () {
        $el = $(this).removeClass('btn-info').addClass('btn-success');

        var id  = $el.data('id'),
            url = "{{ path('admin-request-approve', {'team': '0'}) }}";

        $.ajax({
            url: url.replace('0', id),
            success: function() {
                $el.text('Едут');

            }
        })
    });

    $('.accept-dialog').click(function () {
        $el = $(this).removeClass('btn-info').addClass('btn-success');

        var id  = $el.data('id');

        $('#accept-team-modal').modal().find('.accept').data('id', id);
        console.log($('#accept-team-modal').modal().find('.accept').data('id'));
    });

    $('.accept').click(function () {
        var id  = $(this).data('id'),
            url = "{{ path('admin-request-approve', {'team': '0'}) }}";

        $el = $('.accept-dialog[data-id='+id+']');
        console.log($el.closest('td').find('.reject').remove());

        console.log(id);
        $.ajax({
            url: url.replace('0', id),
            success: function() {
                $el.text('Едут');
                $('#accept-team-modal').modal('hide');
            }
        })
    });
</script>
{% endblock %}